html, body {
	margin: 0;
	background-image: url(bg.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

input {
	margin: 20px;
}

