@font-face {
	font-family: roboto;
	src: url(Roboto-Medium.ttf);
}

button {
	margin: 10px;
	width: 125px;
	height: 50px;
	padding: 20px;
	border: none;
	box-shadow: 2px 2px 5px #454545;
	color: #FFF;
	font-family: roboto;
	font-size: 15px;
	text-align: center;
	vertical-align: center;
}

button:focus {
	outline: none;
}

.button-dis {
	opacity: 0;
}

@keyframes fadeIn {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.fader {
	animation: fadeIn 1s forwards;
}

.button-move-right {
	transform: translateX(145px);
}

.button-move-left {
	transform: translateX(-145px);
}

.button-move-up {
	transform: translateY(-60px);
}

.button-move-down {
	transform: translateY(60px);
}

.button-move-return {
	transform: none;
}


/* COLOR DEFINITIONS */

.cool {
	background: linear-gradient(to bottom, #05FFA1, #01CDFE);
}

.cool:hover {
	background: linear-gradient(to bottom, #01CDFE, #05FFA1);
}

.warm {
	background: linear-gradient(to bottom, #EB6464, #FFC832);
}

.warm:hover {
	background: linear-gradient(to bottom, #FFC832, #EB6464);
}

.blue {
	background: #3340FF;
}

.blue:hover {
	background: #4753FF;
}

.red {
	background: #FF0000;
}

.red:hover {
	background: #FF6666;
}
