button {
	margin: 10px;
	width: 125px;
	height: 50px;
	padding: 20px;
	border: none;
	box-shadow: 2px 2px 5px #454545;
	color: #FFF;
	text-shadow: 2px 2px 3px #454545;
}

button:focus {
	outline: none;
}

.button-dis {
	opacity: 0;
}

@keyframes fadeIn {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.button-fade {
	animation: fadeIn 1s forwards;
}

.button-move-right {
	transform: translateX(145px);
}

.button-move-left {
	transform: translateX(-145px);
}

.button-move-up {
	transform: translateY(-60px);
}

.button-move-down {
	transform: translateY(60px);
}

.button-move-return {
	transform: none;
}

.cool {
	background: linear-gradient(to bottom, #05FFA1, #01CDFE);
}

.warm {
	background: linear-gradient(to bottom, #EB6464, #454545);
}

.blue {
	background: #3340FF;
}
